{% extends 'core/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Welcome to Timely</h1>
            <h2 class="subtitle">Time tracking made simple</h2>
            <p>
                Want more efficiency in your organization? 
                Timely is easy for all teams to use, so you can deliver quality work, faster.
            </p>
        </div>
    </div>
</section>

<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="columns is-align-items mt-6">
                <div class="column is-6 image">
                    <img src="{% static 'images/team.jpeg' %}">
                </div>

                <div class="column is-8 text">
                    <h2 class="subtitle">Team Management</h2>

                    <p class="has-text-justified">Effective team management is the linchpin of productivity and success in 
                        any organization. It involves a multifaceted approach that ensures the 
                        efficient coordination and utilization of human resources to achieve 
                        common goals. Here are some key aspects of effective team management</p>
                </div>
            </div>

            <div class="columns is-align-items mt-6">
                <div class="column is-8 text">
                    <h2 class="subtitle">Time Tracking</h2>

                    <p class="has-text-justified">Time management begins with setting clear priorities. Not all tasks are 
                        created equal. By identifying what's most important and urgent, you can 
                        focus your energy on activities that truly matter, ensuring that you're 
                        working on high-impact tasks first.</p>
                </div>

                <div class="column is-6 image">
                    <img src="{% static 'images/time.avif' %}">
                </div>
            </div>

            <div class="columns is-align-items mt-6">
                <div class="column is-6 image">
                    <img src="{% static 'images/project.png' %}">
                </div>

                <div class="column is-8 text">
                    <h2 class="subtitle">Project Pipeline</h2>

                    <p class="has-text-justified">A well-structured project pipeline is the lifeline of any organization's 
                        growth and success. It's the roadmap that guides project development 
                        from conception to completion. Effective project pipelines streamline 
                        operations, enhance resource allocation, and promote a proactive approach
                         to project management.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-align-items-center mt-6">
        <div class="column is-4 is-offset-4 has-text-centered">
            <h2 class="subtitle">Let's get started</h2>

            <a href="{% url 'signup' %}" class="button is-success is-large">Get a free account</a>
        </div>
    </div>
</div>
{% endblock %}