{% extends 'core/base.html' %}

{% block title %}Plans{% endblock %}

{% block content %}
    <section class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Plans</h1>
                <h2 class="subtitle">Find the most suitable plan for your team</h2>
                <p>
                    In today's fast-paced business environment, 
                    finding the right plan for your team's projects can be a game-changer. 
                    It's not just about creating to-do lists; it's about having the tools and 
                    capabilities to effectively plan and manage projects from inception to completion.
                    Go beyond to-do lists and get the features you need to plan and manage 
                    projects—from start to finish. 
                </p>
            </div>
        </div>
    </section>  

    <div class="columns mt-6">
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Free</p>
                            <p class="subtitle is-6">$0</p>
                            <p>
                                <small>
                                    For individuals or teams just getting started with project management.
                                </small>
                            </p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>1 Team</li>
                            <li>5 Members</li>
                            <li>10 Projects</li>
                            <li>25 Tasks Per Project</li>
                        </ul>

                        <hr>

                        <a href="#" class="button is-primary">Get started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Basic</p>
                            <p class="subtitle is-6">$5 / Month</p>
                            <p>
                                <small>
                                    For teams that need to create project plans and tasks with confidence.
                                </small>
                            </p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>5 Teams</li>
                            <li>25 Members</li>
                            <li>50 Projects</li>
                            <li>100 Tasks Per Project</li>
                        </ul>

                        <hr>

                        <a href="#" class="button is-primary">Get started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Pro</p>
                            <p class="subtitle is-6">$10 / Month</p>
                            <p>
                                <small>
                                    For teams and companies that need to manage work across initiatives.
                                </small>
                            </p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>15 Teams</li>
                            <li>100 Members</li>
                            <li>100 Projects</li>
                            <li>Unlimited Tasks</li>
                        </ul>

                        <hr>

                        <a href="#" class="button is-primary">Get started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Need more?</p>
                            <p class="subtitle is-6">$?</p>
                            <p>
                                <small>
                                    For larger companies that need more security, greater flexibility, 
                                     and compliance.
                                </small>
                            </p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>Need more Teams?</li>
                            <li>Need more Projects?</li>
                            <li>Need more Members?</li>
                            <li>Need more Tasks?</li>
                        </ul>

                        <hr>

                        <a href="#" class="button is-primary">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






